$color-primary: #5fb4a2;
$color-dark-blue: #33323d;
$color-dark: #203a4c;

// bg
$color-secandary: #fafafa;
$color-Lgray: #eaeaeb;
$color-Bred: #f43030;
//button color and hover
$btn-Pcolor: #203a4c;
$btn-Phover: #5fb4a2;
$btn-Scolor: #33323d;
$btn-Shover: #33323d;

// // size
$container: 115rem;
// $nav-size: 2rem;
// $nav-line: 1.5;
$color-bg: #f2f2f2;
// // fonts
// $heebo: "Heebo", "Arial", sans-serif;
// $h3-size: 2.2rem;
// $h3-line: 2.8;
